/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/.vscode/
NuSMV-*/
/program-graph.rb
.pg-work/

# rspec failure tracking
.rspec_status

!./data/project-template/addon
/addon
out/
vendor/